.pill input {
  display: none;
}
.pill label {
  border: 1px solid #ccc;
  padding: 4px 7px;
  font-size: 13px;
  border-radius: 15px;
  margin-right: 8px;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.pill svg {
  color: #999;
  font-size: 12px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.pill label:hover {
  color: #222;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: transparent;
  border-radius: 15px;
}
.pill:hover svg {
  color: #666;
}
